<!DOCTYPE html>
<html>
{% assign username = page.name | remove: ".md" %}
{% assign account = site.data.accounts | where: "username", username | first %}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Archive of @{{account.username}} | The yEAh Twitter Archive</title>
    <link rel="icon" type="image/x-icon" href="/assets/img/twitteryeah.png">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/app.css">
    <link href="https://twitter.yeahgames.net/{{page.permalink}}" rel="canonical">

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/twitteryeah.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/twitteryeah.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/twitteryeah.png">

    <meta property="description"
        content="View a complete and independant archive of @{{account.username}}'s Twiiter account in an easy-to-read and searchable format." />
    <meta name="msapplication-TileColor" content="#ff4747">
    <meta name="theme-color" content="#ff4747">
    <meta property="og:locale" content="en_US" />
    <meta property="og:description"
        content="View a complete and independant archive of @{{account.username}}'s Twiiter account in an easy-to-read and searchable format." />
    <meta property="og:site_name" content="The yEAh Twitter Archive" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary" />
    <meta property="twitter:title" content="Archive of @{{account.username}} | The yEAh Twitter Archive" />

    {% include gtag.html %}

    <style>
        html,
        body {
            padding: 0;
            margin: 0;
            height: 100%;
        }

        iframe {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            border: none;
            height: 100%;
            width: 100%;
        }
    </style>

</head>

<body>
    <!-- modal - todo: <div class="fixed top-0 right-0 p-4">
        <button id="modal-toggle" class="bg-gray-800 text-white p-2 rounded-full">
            <i class="fa-solid fa-circle-info text-xl"></i>
        </button>

    </div>
    <div id="modal" class="modal">
        <div class="modal-content">
            <table class="table-auto">
                <thead>
                    <tr>
                        <th class="px-4 py-2">Metadata Key</th>
                        <th class="px-4 py-2">Metadata Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="border px-4 py-2">Key 1</td>
                        <td class="border px-4 py-2">Value 1</td>
                    </tr>
                    <tr>
                        <td class="border px-4 py-2">Key 2</td>
                        <td class="border px-4 py-2">Value 2</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>-->

    <body class="bg-gray-100">
        <div class="container mx-auto py-8">
            <h1 class="text-3xl font-bold mb-4">@citizenfur</h1>
            <form id="searchForm">
                <input type="text" id="searchInput" placeholder="Search for a tweet..."
                    class="p-2 border border-gray-300 rounded-l focus:outline-none">
                <button type="submit" id="searchButton"
                    class="bg-blue-500 text-white py-2 px-4 rounded-r hover:bg-blue-600 focus:outline-none">Search</button>
            </form>
            <br>
    
            <div id="tweetContainer"></div>
            <div id="loadingIcon" class="loading-icon">
                <img src="https://twitter.yeahgames.net/assets/img/loading.svg" alt="Loading...">
            </div>
        </div>
    
<script>
    {% include app.js %}
</script>
    </body>

    <!--<script src="https://cdn.tailwindcss.com/modal/2.2.19/modal.min.js"></script>-->
</body>

</html>